app/backend/stream-listener/config.py
app/backend/stream-listener/example_tweet.py
app/backend/**/*.pyc
app/backend/stream-listener/miner.log
app/backend/application-server/node_modules
app/backend/application-server/npm-debug.log
app/backend/webscraper/article_ranker/news_corpus.py
app/backend/webscraper/article_ranker/stopwords.py
app/backend/news-clustering/news-clustering
app/backend/admin-page/server/server
app/backend/volume-counter/volume-counter
app/backend/price-service/price-service
app/backend/tweet-handler/tweet-handler

app/database/db-backups/
app/database/**/*.pyc

app/rethinkdb_data

deployment/kubernetes/secrets/

test/**/*.pyc

docker-commands/

.idea/
.gitignore
