backend/stream-listener/config.py
backend/stream-listener/example_tweet.py
backend/**/*.pyc

backend/stream-listener/miner.log
.idea/
backend/application-server/node_modules
backend/application-server/npm-debug.log
app/rethinkdb_data
.gitignore

backend/webscraper/article_ranker/news_corpus.py
backend/webscraper/article_ranker/stopwords.py

backend/news-clustering/news-clustering
backend/admin-page/server/server
backend/volume-counter/volume-counter
backend/price-service/price-service
backend/tweet-handler/tweet-handler
db-backups/
docker-commands/
