backend/stream-listener/config.py
backend/stream-listener/example_tweet.py
backend/**/*.pyc

backend/stream-listener/miner.log
.idea/
app/application-server/node_modules
app/application-server/credentials.js
app/application-server/config.js
app/application-server/npm-debug.log
app/rethinkdb_data
.gitignore

backend/webscraper/article_ranker/news_corpus.py
backend/webscraper/article_ranker/stopwords.py

backend/news-clustering/news-clustering
backend/admin-page/server/server
backend/volume-counter/volume-counter
db-backups/
docker-commands/
