body {
  font-family: Lato
}

.headline {
  color: #006dcc;
  font-size: 4.5em;
}

.top {
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #d0d0d0;
  border-style: solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#top-logo {
  float: left;
  margin-right: 2%;
}

p {
  font-size: 3em;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

footer {
  border-width: 0;
  border-style: solid;
  border-color: #d0d0d0;
  border-top-width: 1px;
  text-align: center;
  margin-bottom: 6%;
  padding-top: 3%;
}

li {
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  margin-bottom: 3%;
  padding: 2% 5% 1% 5%;
  box-shadow: 0px 7px 20px -15px rgba(0,0,0,0.75);
}

.btn-text {
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 3em;
}

.btn-block {
  margin-bottom: 4%;
}

.urgency {
  text-align: right;
  color: #006dcc;
}

.name {
  float: left;
}

#stockList {
  margin-bottom: 6%;
}

.lvl-urgent {
  background-color: rgba(217, 83, 79, 0.2);
}

.lvl-high {
  background-color: rgba(240, 173, 78, 0.2);
}

.info {
  margin-top: 2%;
  padding-top: 2%;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;

}

.info p {
  font-size: 3em;
}
